2024-12-02-dify/Knowledge Retrieval Chatbot.yml
app:
  description: ''
  icon: 📑
  icon_background: '#EFF1F5'
  mode: advanced-chat
  name: 'Knowledge Retreival + Chatbot '
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528914102-1711528915811
      source: '1711528914102'
      sourceHandle: source
      target: '1711528915811'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528915811-1711528917469
      source: '1711528915811'
      sourceHandle: source
      target: '1711528917469'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528917469-1711528919501
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1711528914102'
      position:
        x: 79.5
        y: 2634.5
      positionAbsolute:
        x: 79.5
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 6084ed3f-d100-4df2-a277-b40d639ea7c6
        - bcc2b24a-1edb-4e74-b3d1-6df387484e27
        desc: Allows you to query text content related to user questions from the
          Knowledge
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      dragging: false
      height: 152
      id: '1711528915811'
      position:
        x: 362.5
        y: 2634.5
      positionAbsolute:
        x: 362.5
        y: 2634.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Invoking large language models to answer questions or process natural
          language
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: llama3.2
          provider: ollama
        prompt_template:
        - id: 8d724d34-9285-4622-9f49-2a5f5707d4aa
          role: system
          text: "You are a helpful assistant. \nUse the following context as your\
            \ learned knowledge, inside <context></context> XML tags.\n<context>\n\
            {{#context#}}\n</context>\nWhen answer to user:\n- If you don't know,\
            \ just say that you don't know.\n- If you don't know when you are not\
            \ sure, ask for clarification.\nAvoid mentioning that you obtained the\
            \ information from the context.\nAnd answer according to the language\
            \ of the user's question."
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 158
      id: '1711528917469'
      position:
        x: 645.5
        y: 2634.5
      positionAbsolute:
        x: 645.5
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1711528917469.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: '1711528919501'
      position:
        x: 928.5
        y: 2634.5
      positionAbsolute:
        x: 928.5
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -289.5237107057794
      y: -2608.5096674584915
      zoom: 1.1014421273597093
